@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700);
/**{*/
/*    border:dotted #666 1px;*/
/*}*/

body{
    background-color:white;
    color:#333;
    font-family: 'Lato', sans-serif;
    margin:0;

}

a{
    color:#333;
    text-decoration: none;
    transition: all ease 0.2s;
}

a:hover,
.entry-meta a:hover,
.entryTitle a:hover{
    color:#1d5d95;
}

/*
social media bar & nav scrolling
**********************************/
#social{
    height:50px;
    width:100%;
    background-color: white;
    top:0;
    left:0;
    position:absolute;
    
}

#social:first-child{
    
}

#social img{
    max-height: 40px;
    padding-top: 5px;
    float:right;
    transition: all ease 0.2s;
}


#social img:hover{
  filter:opacity(70%);
  -webkit-filter:opacity(70%);
}

nav.clone {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    transform: translateY(-100%);
    transition: 0.2s transform cubic-bezier(.3,.73,.3,.74);
}

.down nav.clone {
    transform: translateY(0);
}

/**********************************/


/** nav
*****************************/
nav {
    position: -webkit-sticky;
    position: -moz-sticky;
    top:50px;
    left:0;
    position: absolute;
    float:right;
    width:100%;
    height:50px;
    /*background-color:#1a1a1a;*/
    background-color:white;
    text-transform: uppercase;
    font-size:80%;
    /*color: white;*/
    color:#333;
    box-shadow: 0px 2px 3px 0px #999;
    z-index: 5;
}

    
#search{
    height:50px;
    width:50px;
    top:-10px;
    background: url(../img/search.png);
    background-color:#143f65;
    z-index: 6;
    cursor:pointer;
    transition: all ease 0.2s;
}

#search:hover{
    background-color:#1d5d95;
}

nav ul {
  margin-top:-50px;
  display: inline;
  float:right;
}

nav ul li {
  display: inline-block;
  float:left;
  height:20px;
  top:0;
  padding-left: 10px;
  padding-right: 10px;
  padding-top:10px;
  padding-bottom: 10px;
  position: relative;
  padding: 15px 20px;
  /*background: #1a1a1a;*/
  background:white;
  cursor: pointer;
  transition: all ease 0.2s;
}

#donate{
    background-color:#a3151a;
    color:white;
    transition: all ease 0.2s;
}

#donate:hover{
    background-color:#e5343a;
}
nav ul li:hover {
  background: #143f65;
  color: white;
  /*color:#333;*/
}

.submenu {
  padding: 0;
  position: absolute;
  top: 50px;
  left: 0;
  width: 150px;
  display: none;
  opacity: 0;
  transition: opacity 0.2s;
}

.submenu li { 
  background:#143f65; 
  display: block;
  color: #fff;
  width:150px;
}

.xl li{
  width: 200px;
}

.submenu li:first-child,
.xl li:first-child{
   margin-top:50px;
}

.submenu li:hover { 
  background: #1d5d95; 
  }
  
nav ul li:hover ul {
  display: block;
  opacity: 1;
  visibility: visible;
}

/********************************/

#hero{
    width:100%;
    height:100%;
    background: url(../img/hero4.jpg) no-repeat top center fixed;
   	background-size:cover;
    position:absolute;
	left:0;
	right:0;
	top:50px;
	bottom:0;
	filter: opacity(30%);
	-webkit-filter: opacity(30%);
}


#logo{
    position:absolute;
    top:20%;
	bottom:0;
    margin: 0 auto;
    height:80%;
    width: 99%;
    background: url(../img/logo1.png) no-repeat top center;
    background-size: 90%;
    overflow:hidden;
    z-index:3;
}

#tagline {
    width: 100%;
    position: absolute;
    top: 60%;
    text-align: center;
    font-size: 25px;
    color: #a3151a;
}


/*content
*********************/
#container{
    position: relative;
    padding-top:50px;
    top:50px;
    width:95%;
    height:100%;
    margin: 0 auto;
    margin-top:100vh;
    margin-bottom: 100px;
    overflow:hidden;

 
}

#main{
    float:left;
    width:65%;
}

.entryHeader{
    text-transform: uppercase;
}

span.cat-link{
    text-transform: uppercase;
    font-weight:700;
    font-size:90%;
}

.entryTitle,
.entryTitle a{
    font-weight:300;
    transition: all ease 0.2s;
}

h1.entryTitle{
    margin:5px;
    margin-left: 0;
}

.entry-meta,
.entry-meta a{
    font-size: 90%;
    color:#666;
    transition: all ease 0.2s;
}

time{
    padding-right: 10px;    
}


img{
    max-width:90%;
    overflow:hidden;
}

/**right
************/
#right{
    float:right;
    width:30%;
    color: #666;
}

aside{
    border-top:solid #333 5px;
    font-size: 90%;
}

.missionTitle{
    text-transform: uppercase;
    color:#333;
   
}

.missionText{
    line-height:24px;
    padding-bottom:25px;
}

.button{
    display:block;
    text-align:center;
    background-color:#143f65;
    color:white;
    position: relative;
    padding: 15px;
    margin: 0 auto;
    max-width:150px;
}

.button:hover{
    background-color:#1d5d95;
    color:white;
}

/***********************/
#go{
    color:#143f65;
    border:solid 2px #143f65;
    background-color:transparent;
    margin-top:5%;
 
}

#go:hover{
    border-color:#1d5d95;
    color:#1d5d95;
}

footer{
  
    clear:both;
    color:white;
    display:block;
    width:100%;
    margin-top:10%;
    /*background-color:#143f65;*/
}
